absl-py==2.0.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==3.6.2
asttokens==2.4.1
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.1
autopep8==2.0.2
babel==2.13.1
bangla==0.0.2
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
cachetools==5.3.2
catalogue==2.0.10
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
comtypes==1.2.0
confection==0.1.4
contourpy==1.2.0
coqpit==0.0.17
customtkinter==5.1.2
cycler==0.12.1
cymem==2.0.8
cython==3.0.5
darkdetect==0.8.0
dateparser==1.1.8
decorator==5.1.1
docopt==0.6.2
einops==0.7.0
encodec==0.1.1
exceptiongroup==1.2.0
executing==2.0.1
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.10.7
flask==3.0.0
fonttools==4.45.1
frozenlist==1.3.3
fsspec==2023.10.0
future==0.18.3
g2pkk==0.1.2
google-auth==2.23.4
google-auth-oauthlib==1.1.0
grpcio==1.59.3
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11==0.14.0
h2==4.1.0
hangul-romanize==0.1.0
hpack==4.0.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.19.4
hyperframe==6.0.1
idna==3.4
inflect==7.0.0
ipython==8.18.0
iso8601==1.1.0
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
jinja2==3.1.2
joblib==1.3.2
jsonlines==1.2.0
keyboard==0.13.5
kiwisolver==1.4.5
langcodes==3.3.0
lazy-loader==0.3
librosa==0.10.0
llvmlite==0.41.1
markdown==3.5.1
markupsafe==2.1.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
murmurhash==1.0.10
networkx==2.8.8
nltk==3.8.1
num2words==0.5.13
numba==0.58.1
numpy==1.22.0
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.27.2
openai-whisper
packaging==23.2
pandas==1.5.3
parso==0.8.3
pillow==10.1.0
pip==23.3.1
platformdirs==4.0.0
pooch==1.8.0
preshed==3.0.9
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.6
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyaudio==0.2.13
pycodestyle==2.10.0
pycparser==2.21
pydantic==2.5.2
pydantic-core==2.14.5
pydub==0.25.1
pygments==2.17.2
pynndescent==0.5.11
pyparsing==3.1.1
pypinyin==0.49.0
pysbd==0.3.4
pytchat==0.5.5
python-crfsuite==0.9.9
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2023.3.post1
pyyaml==6.0
regex==2023.3.23
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
romajitable==0.0.1
rsa==4.9
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.4
sentencepiece==0.1.97
setuptools==68.0.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechrecognition==3.10.0
srsly==2.4.8
stack-data==0.6.3
sudachidict-core==20230927
sudachipy==0.6.7
sympy==1.11.1
tensorboard==2.15.1
tensorboard-data-server==0.7.2
thinc==8.2.1
threadpoolctl==3.2.0
tiktoken==0.3.1
tokenizers==0.15.0
tomli==2.0.1
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.65.0
trainer==0.0.32
traitlets==5.13.0
transformers==4.35.2
tts==0.21.1
twitchio==2.6.0
typer==0.9.0
typing-extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.5
unidecode==1.3.7
urllib3==1.26.15
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.4
werkzeug==3.0.1
wheel==0.41.2
whisper==1.1.10
yarl==1.8.2

